{% extends 'shinkassa/base.html'%}

{% block title %}
Просмотр
{% endblock %}

{% block content %}

<h1>Просмотр и поиск записей за выбранный период</h1>
<h3>
<form class="d-flex" method="post">
        {%  csrf_token %}
        <p>C какой даты смотреть__<input type="date" placeholder="выберите дату" name="date1"></p>
        <p>По какую дату смотреть__<input type="date" placeholder="выберите дату" name="date2"></p>
        <p>Поиск по фирме__<input type="text" placeholder="введите название фирмы" name="word_s"></p>

        <input type="submit" value="Посмотреть за выбранный период" name="period">
        <input type="submit" value="Посмотреть за сегодня" name="today">

    </form>

</h3>

<table>

  <tr>
      <th>_______Фирма_______</th>
      <th>_Машина___</th>
      <th>___Номер____</th>
      <th>_Диск_</th>
      <th>_______________Что делали_______________ </th>
      <th>____Дата___</th>
      <th>Время__</th>
      <th>___Сумма__</th>
      <th>Примечание</th>
  </tr>
{% for i in a %}
  <tr>
      <td>
          {% if i.company %}
          {{ i.company }}
          {% else %}
          -----
          {% endif %}
      </td>
      <td>
          {% if i.vehicle %}
          {{ i.vehicle }}
          {% else %}
          без машины
          {% endif %}
      </td>
      <td>
          {% if i.number %}
          {{ i.number }}
          {% else %}
          -----
          {% endif %}
      </td>
      <td>R{{ i.diametr }}</td>
      <td>
          {% if i.complex %}
          Ком-{{ i.complex }}
          {% endif %}
          {% if i.balance %}
          Баланс-{{ i.balance }}
          {% endif %}
          {% if i.count_gruz %}
          Пл-{{ i.count_gruz }}
          {% endif %}
          {% if i.sn %}
          Сн-{{ i.sn }}
          {% endif %}
          {% if i.ust %}
          Уст-{{ i.ust }}
          {% endif %}
          {% if i.mont %}
          Мон-{{ i.mont }}
          {% endif %}
          {% if i.demont %}
          Дем-{{ i.demont }}
          {% endif %}
          {% if i.appworks %}
          {{ i.appworks }}
          {% endif %}

      </td>

      <td>{{ i.time }}</td>
      <td>{{ i.times }}</td>
      <td>{{ i.summ }} руб</td>
      <td>{{ i.prim }}</td>
  </tr>
    {% endfor %}

</table>

<h2>___________________________________________________________________Общая сумма {{ s }}</h2>

{% endblock %}