{% extends 'shinkassa/base.html'%}

{% block title %}
Просмотр
{% endblock %}

{% block content %}







<h2>Просмотр и поиск записей за выбранный период</h2>

<form class="d-flex" method="post">
        {%  csrf_token %}
        <p>C какой даты смотреть__<input class="form-control me-2" type="date" placeholder="выберите дату" name="date1"></p>
        <p>По какую дату смотреть__<input class="form-control me-2" type="date" placeholder="выберите дату" name="date2"></p>
        <p>Поиск по фирме__<input class="form-control me-2" type="text" placeholder="введите название фирмы" name="word_s"></p>

        <input class="btn btn-outline-success" type="submit" value="Посмотреть за выбранный период" name="period">
        <input class="btn btn-outline-success" type="submit" value="Посмотреть за сегодня" name="today">

    </form>
{% if b %}
<h3>{{ b }}</h3>

{% endif %}

{% if a %}
	<script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>
	<script>
		function exportToExcel() {
			// Получаем таблицу по ее ID
			var table = document.getElementById("myTable");

			// Создаем новую книгу Excel
			var workbook = XLSX.utils.book_new();

			// Создаем новый лист Excel
			var sheet = XLSX.utils.table_to_sheet(table);

			// Добавляем лист в книгу
			XLSX.utils.book_append_sheet(workbook, sheet, "Данные");

			// Сохраняем книгу в файл Excel
			XLSX.writeFile(workbook, "данные.xlsx");
		}
	</script>

<table class="d-flex" id="myTable">

  <tr>
      <th>_______Фирма_______</th>
      <th>_Машина___</th>
      <th>_Номер_____</th>
      <th>_Диск_</th>
      <th>_______________Что делали_______________ </th>
      <th>____Дата_____</th>
      <th>Время__</th>
      <th>_Сумма__</th>
      <th>Примечание</th>
  </tr>
{% for i in a %}
  <tr>
      <td>
          {% if i.company %}
          {{ i.company }}
          {% else %}
          -----
          {% endif %}
      </td>
      <td>
          {% if i.vehicle %}
          {{ i.vehicle }}
          {% else %}
          без машины
          {% endif %}
      </td>
      <td>
          {% if i.number %}
          {{ i.number }}
          {% else %}
          -----
          {% endif %}
      </td>
      <td>R{{ i.diametr }}</td>
      <td>
          {% if i.complex %}
          Ком-{{ i.complex }}
          {% endif %}
          {% if i.balance %}
          Баланс-{{ i.balance }}
          {% endif %}
          {% if i.count_gruz %}
          Пл-{{ i.count_gruz }}
          {% endif %}
          {% if i.sn %}
          Сн-{{ i.sn }}
          {% endif %}
          {% if i.ust %}
          Уст-{{ i.ust }}
          {% endif %}
          {% if i.mont %}
          Мон-{{ i.mont }}
          {% endif %}
          {% if i.demont %}
          Дем-{{ i.demont }}
          {% endif %}
          {% if i.appworks %}
          {{ i.appworks }}
          {% endif %}

      </td>

      <td>{{ i.time }}</td>
      <td>{{ i.times }}</td>
      <td>{{ i.summ }} руб</td>
      <td>{{ i.prim }}</td>
  </tr>
    {% endfor %}

</table>

<h2>______________________________________________________________Общая сумма {{ s }}</h2>
<button class="btn btn-outline-success" type="button" onclick="exportToExcel()">Сохранить в Excel</button>

{% endif %}



{% endblock %}